extends static

block content
    main
        h1 Welcome to My Node.js Portfolio
    
        .main-content
        p Hello, and welcome to my portfolio! I'm thrilled to showcase my work in web development using Node.js, one of the most powerful and efficient backend technologies available today. In this portfolio, you'll find a collection of my projects, including everything from dynamic websites to interactive applications. Each project demonstrates my skills in full-stack development, server-side programming, and creating responsive, user-friendly interfaces.
        p Take a look around to explore the creative solutions I've built, and feel free to reach out if you'd like to connect or discuss how I can help bring your ideas to life!